In [1]:
import pandas as pd
from functions_package.predict import *

/home/visal/anaconda3/envs/keras/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/visal/anaconda3/envs/keras/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/visal/anaconda3/envs/keras/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/visal/anaconda3/envs/keras/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/visal/anaconda3/envs/keras/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/visal/anaconda3/envs/keras/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
2022-10-31 10:30:40.911437: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2022-10-31 10:30:40.944585: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2599990000 Hz
2022-10-31 10:30:40.945095: I tensorflow/compiler/xla/service/service.cc:150] XLA service 0x555928423970 executing computations on platform Host. Devices:
2022-10-31 10:30:40.945109: I tensorflow/compiler/xla/service/service.cc:158]   StreamExecutor device (0): <undefined>, <undefined>
2022-10-31 10:30:42.657030: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-10-31 10:30:42.657201: I tensorflow/compiler/xla/service/service.cc:150] XLA service 0x555928405760 executing computations on platform CUDA. Devices:
2022-10-31 10:30:42.657215: I tensorflow/compiler/xla/service/service.cc:158]   StreamExecutor device (0): NVIDIA GeForce GTX 1650 with Max-Q Design, Compute Capability 7.5
2022-10-31 10:30:42.657506: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1433] Found device 0 with properties:
name: NVIDIA GeForce GTX 1650 with Max-Q Design major: 7 minor: 5 memoryClockRate(GHz): 1.155
pciBusID: 0000:02:00.0
totalMemory: 3.82GiB freeMemory: 3.77GiB
2022-10-31 10:30:42.657517: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1512] Adding visible gpu devices: 0
2022-10-31 10:30:42.658129: I tensorflow/core/common_runtime/gpu/gpu_device.cc:984] Device interconnect StreamExecutor with strength 1 edge matrix:
2022-10-31 10:30:42.658138: I tensorflow/core/common_runtime/gpu/gpu_device.cc:990]      0
2022-10-31 10:30:42.658141: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1003] 0:   N
2022-10-31 10:30:42.658197: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1115] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 3557 MB memory) -> physical GPU (device: 0, name: NVIDIA GeForce GTX 1650 with Max-Q Design, pci bus id: 0000:02:00.0, compute capability: 7.5)
Using TensorFlow backend.

In [2]:
# Import important libraries
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL

In [3]:
config = dict(
    drivername='postgresql+psycopg2',
    username='zillion',
    password='zill10nkh@855',
    host='46.137.230.157',
    port='5432',
    database='zillion_properties_db',
)

# config = dict(
#     drivername='postgresql+psycopg2',
#     username='postgres',
#     password='1234',
#     host='localhost',
#     port='5432',
#     database='postgres',
# )
url = URL.create(**config)
print(url)
engine = create_engine(url)

postgresql+psycopg2://zillion:zill10nkh%40855@46.137.230.157:5432/zillion_properties_db

In [4]:
df = pd.read_sql_query(
    """SELECT id, full_address
        FROM properties
        ORDER BY id""",
    con=engine
)

In [6]:
output = address_parser(df, 'full_address')

first_pipe: begin

replace null address with 'No address'
remove whitespace
extract three components
remove the extracted string from address
extract the three components again from 'new_add'
remove the extracted string from 'new_add'
coalesce the three components
clean the extracted components
first_pipe: done

predict_pipe: begin

load model
WARNING:tensorflow:From /home/visal/anaconda3/envs/keras/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /home/visal/anaconda3/envs/keras/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

2022-10-31 10:32:14.156954: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1512] Adding visible gpu devices: 0
2022-10-31 10:32:14.156981: I tensorflow/core/common_runtime/gpu/gpu_device.cc:984] Device interconnect StreamExecutor with strength 1 edge matrix:
2022-10-31 10:32:14.156986: I tensorflow/core/common_runtime/gpu/gpu_device.cc:990]      0
2022-10-31 10:32:14.156989: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1003] 0:   N
2022-10-31 10:32:14.157038: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1115] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 3557 MB memory) -> physical GPU (device: 0, name: NVIDIA GeForce GTX 1650 with Max-Q Design, pci bus id: 0000:02:00.0, compute capability: 7.5)

WARNING:tensorflow:From /home/visal/anaconda3/envs/keras/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
convert address to list
clean address

100%|██████████| 466653/466653 [00:05<00:00, 88260.81it/s]

process_txt

100%|██████████| 466653/466653 [00:55<00:00, 8425.24it/s]

model predicting

2022-10-31 10:33:54.817131: I tensorflow/stream_executor/dso_loader.cc:152] successfully opened CUDA library libcublas.so.10.0 locally

466653/466653 [==============================] - 250s 536us/step
prediction to labels
decode predictions
asseble predictions to dataframe
predict_pipe: done

verify_prediction: begin
load_geo_db
remove_white_space
match_addr

100%|██████████| 466653/466653 [1:16:58<00:00, 101.05it/s]

covnert dictionary to dataframe
capitalize output
rename columns
get_id
replace Na with None
merge dataframe
verify_prediction: done

In [8]:
config_1 = dict(
    drivername='postgresql+psycopg2',
    username='postgres',
    password='1234',
    host='localhost',
    port='5432',
    database='postgres',
)
url_1 = URL.create(**config_1)
print(url_1)
engine_1 = create_engine(url_1)

postgresql+psycopg2://postgres:1234@localhost:5432/postgres

In [9]:
# output.to_sql('new', con=engine_1)

In [16]:
output[output['full_address']=='']

,id,full_address,parsed_house_no,parsed_street_no,parsed_borey,parsed_province,parsed_district,parsed_commune,parsed_village,parsed_province_id,parsed_district_id,parsed_commune_id,parsed_village_id
4674,5048,,,,,None,None,None,None,NaN,NaN,NaN,NaN
4758,5132,,,,,None,None,None,None,NaN,NaN,NaN,NaN
5360,5737,,,,,None,None,None,None,NaN,NaN,NaN,NaN
5470,5847,,,,,None,None,None,None,NaN,NaN,NaN,NaN
5966,6343,,,,,None,None,None,None,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
464764,499994,,,,,None,None,None,None,NaN,NaN,NaN,NaN
464772,500002,,,,,None,None,None,None,NaN,NaN,NaN,NaN
464951,500181,,,,,None,None,None,None,NaN,NaN,NaN,NaN
465389,500620,,,,,None,None,None,None,NaN,NaN,NaN,NaN
465644,500875,,,,,None,None,None,None,NaN,NaN,NaN,NaN