In [1]:
import pandas as pd
import re
from nltk import word_tokenize

In [2]:
df = pd.read_excel('addtional_address.xlsx')

In [3]:
df.fillna('', inplace=True)

In [4]:
# for x in range(15229, len(df) + 15229):
#     print(x)

In [5]:
# df['index'] = range(15229, len(df) + 15229)

In [6]:
no_add = df.drop(['address'], axis=1)

In [7]:
tags = pd.Series(
    map(
        ' '.join,
        # no_add.values.tolist()
        # when non-string columns are present:
        no_add.values.astype(str).tolist()
    ),
    index=no_add.index
).to_frame()

In [8]:
new_df = df['address'].to_frame().merge(tags, left_index=True, right_index=True)

In [9]:
df_token = new_df

In [10]:
df_token['address'] = df_token['address'].apply(word_tokenize)

In [11]:
df_token

,address,0
0,"[National, Road, #, 31, #, 31, ,, Phnum, Kong,...",B-street_no I-street_no I-street_no I-street_n...
1,"[Chek, #, 101, Chamka, ,, Phteah, Prey, ,, Pur...",O B-house_no I-house_no B-village_phum O B-com...
2,"[57B, National, road, 57B, ,, Ta, Krei, ,, Kam...",B-street_no I-street_no I-street_no I-street_n...
3,"[60m, street, 60m, street, ,, Cheung, Aek, ,, ...",B-street_no I-street_no I-street_no I-street_n...
4,"[Tuol, Tom, Toung, 1, &, 2, ,, Chamkar, Mon, ,...",B-commune_khum I-commune_khum I-commune_khum I...
...,...,...
1243,"[Monia, Apartment]",B-property_name I-property_name ...
1244,"[Morgan, EnMaison]",B-property_name I-property_name ...
1245,"[Near, Riverside]",O B-POI
1246,"[Olympia, City]",B-POI I-POI
1247,"[One, Park]",B-property_name I-property_name ...

In [12]:
for col_name in [0]:
    df_token[col_name] = df_token[col_name].astype(str).apply(word_tokenize)

In [13]:
df_token

,address,0
0,"[National, Road, #, 31, #, 31, ,, Phnum, Kong,...","[B-street_no, I-street_no, I-street_no, I-stre..."
1,"[Chek, #, 101, Chamka, ,, Phteah, Prey, ,, Pur...","[O, B-house_no, I-house_no, B-village_phum, O,..."
2,"[57B, National, road, 57B, ,, Ta, Krei, ,, Kam...","[B-street_no, I-street_no, I-street_no, I-stre..."
3,"[60m, street, 60m, street, ,, Cheung, Aek, ,, ...","[B-street_no, I-street_no, I-street_no, I-stre..."
4,"[Tuol, Tom, Toung, 1, &, 2, ,, Chamkar, Mon, ,...","[B-commune_khum, I-commune_khum, I-commune_khu..."
...,...,...
1243,"[Monia, Apartment]","[B-property_name, I-property_name]"
1244,"[Morgan, EnMaison]","[B-property_name, I-property_name]"
1245,"[Near, Riverside]","[O, B-POI]"
1246,"[Olympia, City]","[B-POI, I-POI]"
1247,"[One, Park]","[B-property_name, I-property_name]"

In [14]:
df_token['index'] = range(785, len(df) + 785)

In [15]:
ex_df = df_token[['index', 'address', 0]]

In [16]:
join_df = (ex_df.set_index('index')
              .apply(lambda x: x.apply(pd.Series).stack())
              .reset_index()
              .drop('level_1', 1))

/tmp/ipykernel_18365/1526030247.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  join_df = (ex_df.set_index('index')

In [17]:
join_df.to_excel('additional_add_token_785.xlsx', index=False)

In [ ]:
str = 'B-village_phum (Cheang I-village_phum )'
df.query('new_village ==  @str ')

In [ ]:
pd.set_option('display.max_colwidth', None)
new_df[['new_village']].value_counts()

In [ ]:
for x in df['new_com']:
    print(x)